/* Global Styles */

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Styles */

.header{
    padding: 20px 0;
    background-color: #1F2937;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
     color: #F9FAF8;
     font-size: 24px;
}

.header-nav a{
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 15px;
}

/* Hero */

.hero{
    padding: 40px;
    background-color: #1F2937;
}

.hero .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.hero-content{
    max-width: 50%;
}

.hero-title{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-subtext{
    font-size: 18px;
    color: #E5E7EB;
}

.button{
    background-color: #3882F6;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    color: #F9FAF8;
    border: solid 2px #F9FAF8;
}

.hero-image{
    height: 50%;
    width: 50%;
    text-align: center;
    background-color: gray;
    padding: 60px;
}

/* Info */

.info{
    padding: 40px 0;
    text-align: center;
    font-style: italic;
}

.info .container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

.info-title{
    display: flex;
    justify-content: center;
    color: #1F2937;
    font-size: 40px;
    font-weight: 900;
}

.info-boxes{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.info-boxes .box{
    height: 30%;
    width: 30%;
    padding: 70px;
    border-radius: 10px;
    border: solid #3882F6;
}

.info-boxes p{
    font-size: 18px;
    text-align: center;
    color: grey;
}

/* Quote */

.quote{
    background-color: #E5E7EB;
    padding: 40px 0;
    text-align: center;
    font-style: italic;
    color: #1F2937;
    font-size: 36px;
}

.quote cite{
    display: block;
    margin-top: 10px;
    font-weight: 900;
}

/* Call To Action */

.cta {
    background-color: #3882F6;
    color: #fff;
    padding: 40px 0;
    text-align: center;
    border-radius: 10px;
}
  
  .cta-content h2 {
    margin: 0 0 20px;
}







