@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Roboto", serif;
}

/* hero */

/* Header Content */

header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 100px;
    margin-bottom: 60px;
}

.top{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;
}

.top .hero-logo{
    font-size: 24px;
    color: #F9FAF8;
    align-self: flex-start;
}

.top .hero-list{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-self: flex-end;
    background: transparent;
}

.hero-list li{
    list-style: none;
}
.hero-list li a{
    margin: 0 10px;
    font-size: 18px;
    padding: 0;
    color: #e5e7eb;
    text-decoration: none;
}

/* Hero Body */

.hero-info{
    display: flex;
    flex-direction: row;
    padding: 0;
    align-self: flex-end;
    justify-content: space-between;
    row-gap: 10px;
    margin-bottom: 50px;
}

.hero-info .title{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 50px;
}

.title h2{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.title p{
    margin: 10px 0;
    text-align: left;
    font-size: 18px;
    color: #e5e7eb;
}
.title button{
    font-weight: bold;
    border: 0;
    margin-top: 10px;
    padding: 10px 18px;
    background-color: #3882f6;
    border-radius: 8px;
}
.title button:hover{
    background-color:#2f3e52;
}
.hero-image{
    flex: 1 0 auto;
    width: 50%;
    height:fit-content;
    padding: 0;
}
.hero-image img{
    width: 100%;
    height: 250px;
    box-shadow: 6px 4px 10px rgba(0,0,0,0.4);
}